<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sugar and Spice</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Englebert">
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <header id="cake">
      <h2 id="cakes">Cookies</h2>
    </header>
    <br>
    <h2>Classic Cookies</h2>
    <br>
    <center>
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="<%= @chocchip2.image %>" style="height: 50%;">
          <div class="card-body">
            <h5 class="card-title"><%= @chocchip2.name %></h5>
            <p class="card-text">Chocolate Chip cookie</p>
            <p class="card-text"><%= @chocchip2.price %></p>
            <a href="#" class="btn btn-primary">Place order</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="<%= @pb.image %>" style="height: 50%;">
          <div class="card-body">
            <h5 class="card-title"><%= @pb.name %></h5>
            <p class="card-text">Peanut butter cookies</p>
            <p class="card-text"><%= @pb.price %></p>
            <a href="#" class="btn btn-primary">Place order</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="<%= @iced.image %>" style="height: 50%;">
          <div class="card-body">
            <h5 class="card-title"><%= @iced.name %></h5>
            <p class="card-text">Iced Oatmeal cookies</p>
            <p class="card-text"><%= @iced.price %></p>
            <a href="#" class="btn btn-primary">Place order</a>
          </div>
        </div>
      </div>
    </div>
    <br>
    <!-- <h2>Classic Cakes</h2>
    <div class="row">
      <div class="col">
        col
      </div>
      <div class="col">
        col
      </div>
      <div class="col">
        col
      </div>
    </div> -->
    </center>
  </body>
</html>
