<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sugar and Spice</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Englebert">
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <%= erb :"partials/header" %>
    <br>
    <div class="container">
      <div class="row">

        <div class="col">
          <div class="card mb-3">
            <img class="card-img-top" src='<%= @chocolate.image %>' style="height: 50%;">
            <div class="card-body">
              <h5 class="card-title"><%= @chocolate.name %></h5>
              <p class="card-text">We offer a variety of cakes, from flavor to design, sliced or whole. Either way, we know you'll be back for more.</p>
              <p class="card-text"><small class="text-muted"><%= @chocolate.price %></small></p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card mb-3">
            <img class="card-img-top" src='<%= @chocchip.image %>' style="height: 50%;">
            <div class="card-body">
              <h5 class="card-title"><%= @chocchip.name %></h5>
              <p class="card-text">Cookies are our most profitable item, of which we are immensely proud. You will be too. </p>
              <p class="card-text"><small class="text-muted"><%= @chocchip.price %></small></p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card mb-3">
            <img class="card-img-top" src='<%= @muffin.image %>' style="height: 50%;">
            <div class="card-body">
              <h5 class="card-title"><%= @muffin.name %></h5>
              <p class="card-text">Our muffins are perfect treat for either an on-the-go breakfast, or a decadent snack.</p>
              <p class="card-text"><small class="text-muted"><%= @muffin.price %></small></p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
