<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sugar and Spice</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Englebert">
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <%= erb :"partials/header" %>
    <br>
    <div class="container">
      <div class="row">

        <div class="col">
          <div class="card mb-3">
            <img class="card-img-top" src='<%= @chocolate.image %>'>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text"><%= @chocolate.description %></p>
              <p class="card-text"><small class="text-muted"><%= @chocolate.price %></small></p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card mb-3">
            <img class="card-img-top" src='<%= @chocchip.image %>'>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text"><%= @chocchip.description %></p>
              <p class="card-text"><small class="text-muted"><%= @chocchip.price %></small></p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card mb-3">
            <img class="card-img-top" src='<%= @muffin.image %>'>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text"><%= @muffin.description %></p>
              <p class="card-text"><small class="text-muted"><%= @muffin.price %></small></p>
            </div>
          </div>
        </div>





      </div>
    </div>

  </body>
</html>
